pkgbase = hypernote-bin
	pkgdesc = Folder-based notes in HTML, with live preview and full JavaScript support
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/justliulong/Hypernote
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libcups
	depends = mesa
	depends = systemd-libs
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxkbcommon
	depends = libxss
	depends = libxtst
	depends = libnotify
	depends = at-spi2-core
	depends = libsecret
	depends = xdg-utils
	depends = hicolor-icon-theme
	provides = hypernote
	conflicts = hypernote
	options = !strip
	options = !debug
	source = hypernote-bin-1.0.0.deb::https://github.com/justliulong/Hypernote/releases/download/v1.0.0/Hypernote-1.0.0-amd64.deb
	source = LICENSE
	sha256sums = fe1f2181c06393dcd2022005bffdc410012f912c388b8508902c1707c3aec713
	sha256sums = 080e474517e1d125b003be32c21fac5419b77727c849d4590ddef0b4abf5d7d5

pkgname = hypernote-bin
